
<VirtualHost *:443>
   ServerName nextcloud
   ServerAdmin webmaster@destrangis.com
   DocumentRoot "/opt/nextcloud"

   #   SSL Engine Switch:
   #   Enable/Disable SSL for this virtual host.
   SSLEngine on

   #   A self-signed (snakeoil) certificate can be created by installing
   #   the ssl-cert package. See
   #   /usr/share/doc/apache2.2-common/README.Debian.gz for more info.
   #   If both key and certificate are stored in the same file, only the
   #   SSLCertificateFile directive is needed.
   SSLCertificateFile    {{cert_name}}
   SSLCertificateKeyFile {{cert_key}}
   ErrorLog "${APACHE_LOG_DIR}/nextcloud/secure_error.log"
   CustomLog "${APACHE_LOG_DIR}/nextcloud/secure_access.log" common
   <IfModule mod_dav.c>
     Dav off
   </IfModule>
   <IfModule mod_headers.c>
      Header always set Strict-Transport-Security "max-age=15552000; includeSubDomains"
    </IfModule>

   setEnv HOME /opt/nextcloud
   setEnv HTTP_HOME /opt/nextcloud

   <Directory /opt/nextcloud>
     Options +Indexes +FollowSymLinks +MultiViews
     AllowOverride All
     Require all granted
     #Order allow,deny
     #Allow from all
     # add any possibly required additional directives here
     #    e.g. the Satisfy directive (see below for details):
     Satisfy Any
   </Directory>

</VirtualHost>

<VirtualHost *:80>
   ServerName nextcloud
   ServerAdmin webmaster@destrangis.com
   DocumentRoot "/var/www/nextcloud"
   ErrorLog "${APACHE_LOG_DIR}/nextcloud/plain_error.log"
   CustomLog "${APACHE_LOG_DIR}/nextcloud/plain_access.log" common
   <Directory /var/www/nextcloud>
     Options +Indexes +FollowSymLinks +MultiViews
     AllowOverride All
     Require all granted
   </Directory>
</VirtualHost>
