<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Refresh" content="0; url=https://{{ inventory_hostname }}" />
        <script>
        window.location.href='https://{{ inventory_hostname }}';
        </script>
    </head>
    <body>
        <p>Please go to the secure site at
        <a href="https://{{ inventory_hostname }}">https://{{ inventory_hostname }}</a></p>
    </body>
</html>
